@import url('https://fonts.googleapis.com/css?family=Frijole');
@font-face {
    font-family: "Pixeltext";
    src: url('BPdotsUnicase.otf');
}
.container{
    font-family: Pixeltext;
    text-align: center;
    font-size: 40px;
    color: antiquewhite;
}
header{
    text-align: center;
    font-family: "Baskerville Old Face", cursive;
    color: red;
}
h1:first-letter{
    font-family: "frijole", cursive;
    font-size: 75px;
}
body{
    background-color: #2b2b2b
}
img{
    display: block;
    margin: auto;
    border: solid 3px;
    border-bottom-left-radius: 40%;
    border-top-right-radius: 40%;
    border-bottom-right-radius: 60%;
    border-top-left-radius: 60%;
}
ol{
    list-style-type: none;
}
li a{
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background-color: black;
    margin-bottom: 4px;
    border: dashed;
    border-color: antiquewhite;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
}
a:hover{
    color: whitesmoke;
}
